docs/n8n_workflow_1_rfq_email.json
{
  "name": "VendorBridge - RFQ Email (Gmail + Gemini)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rfq-published",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-rfq",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "rfq-published"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rfq_vendors?rfq_id=eq.{{ $json.rfq_id }}&select=vendors(company_name,email)",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        }
      },
      "id": "fetch-vendors",
      "name": "Get Assigned Vendors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "={{ $json }}",
        "options": {}
      },
      "id": "split-vendors",
      "name": "Split Vendors",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.vendors.email }}",
        "subject": "New RFQ: {{ $('Webhook').item.json.title }} - VendorBridge",
        "message": "<div style='font-family:sans-serif;max-width:600px;margin:0 auto'><div style='background:#1e40af;padding:24px;border-radius:8px 8px 0 0'><h1 style='color:white;margin:0;font-size:20px'>📋 New RFQ Published</h1></div><div style='background:white;padding:32px;border:1px solid #e2e8f0;border-radius:0 0 8px 8px'><p style='font-size:16px;font-weight:700;color:#0f172a'>Hello {{ $json.vendors.company_name }},</p><p style='color:#475569'>You have been invited to submit a quotation for the following RFQ:</p><table style='width:100%;border-collapse:collapse;margin:16px 0'><tr style='background:#f8fafc'><td style='padding:12px;border:1px solid #e2e8f0;font-weight:600'>RFQ Title</td><td style='padding:12px;border:1px solid #e2e8f0'>{{ $('Webhook').item.json.title }}</td></tr><tr><td style='padding:12px;border:1px solid #e2e8f0;font-weight:600'>Deadline</td><td style='padding:12px;border:1px solid #e2e8f0'>{{ $('Webhook').item.json.deadline }}</td></tr></table><p style='color:#475569'>Please log in to the VendorBridge portal to view details and submit your quotation.</p></div></div>",
        "options": {}
      },
      "id": "send-gmail",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [900, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"emails_sent\": {{ $items.length }} }"
      },
      "id": "respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Get Assigned Vendors", "type": "main", "index": 0 }]] },
    "Get Assigned Vendors": { "main": [[{ "node": "Split Vendors", "type": "main", "index": 0 }]] },
    "Split Vendors": { "main": [[{ "node": "Gmail", "type": "main", "index": 0 }]] },
    "Gmail": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "vendorbridge" }]
}
