docs/n8n_workflow_2_ai_analysis.json
{
  "name": "VendorBridge - AI Quotation Analysis (OpenAI)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-ai-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-ai",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "trigger-ai-analysis"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/quotations?rfq_id=eq.{{ $json.body?.rfq_id || $json.rfq_id }}&select=*,vendors(id,company_name,rating)",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        }
      },
      "id": "fetch-quotes",
      "name": "Get Quotations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const quotations = $input.all().map(item => item.json);\nconst webhookData = $('Webhook').first().json;\nconst rfqId = webhookData.body?.rfq_id || webhookData.rfq_id;\n\nif (!quotations || quotations.length === 0) {\n  return [{ json: { error: 'No quotations found', rfq_id: rfqId } }];\n}\n\nconst prices = quotations.map(q => parseFloat(q.total_amount) || 0).filter(p => p > 0);\nconst deliveries = quotations.map(q => parseInt(q.delivery_days) || 0).filter(d => d > 0);\nconst minPrice = prices.length > 0 ? Math.min(...prices) : 1;\nconst minDelivery = deliveries.length > 0 ? Math.min(...deliveries) : 1;\n\nconst scored = quotations.map(q => {\n  const pAmt = parseFloat(q.total_amount) || 0;\n  const dDays = parseInt(q.delivery_days) || 0;\n  const priceScore = pAmt > 0 ? (minPrice / pAmt) * 100 : 0;\n  const deliveryScore = dDays > 0 ? (minDelivery / dDays) * 100 : 0;\n  const ratingScore = (parseFloat(q.vendors?.rating || 3) / 5) * 100;\n  const composite = (priceScore * 0.40) + (deliveryScore * 0.25) + (ratingScore * 0.35);\n  return {\n    vendor_id: q.vendor_id,\n    vendor_name: q.vendors?.company_name || 'Unknown',\n    total_amount: pAmt,\n    delivery_days: dDays,\n    rating: parseFloat(q.vendors?.rating || 3),\n    price_score: Math.round(priceScore * 100) / 100,\n    delivery_score: Math.round(deliveryScore * 100) / 100,\n    rating_score: Math.round(ratingScore * 100) / 100,\n    composite_score: Math.round(composite * 100) / 100 || 0\n  };\n}).sort((a, b) => b.composite_score - a.composite_score);\n\nreturn [{ json: { rfq_id: rfqId, scored } }];"
      },
      "id": "score",
      "name": "Calculate Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4o-mini",
        "prompt": "You are a procurement analyst. Analyze these vendor quotations and give a 2-3 sentence recommendation.\n\nRanked quotations (by composite score — Price 40%, Delivery 25%, Rating 35%):\n{{ JSON.stringify($json.scored) }}\n\n1. Who is the best vendor and why?\n2. Key trade-offs between top 2?\n3. Any risk factors?\n\nBe direct. Return ONLY the recommendation text.",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "openai",
      "name": "OpenAI API",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $('OpenAI API').first().json;\nconst scores = $('Calculate Scores').first().json;\nconst rfqId = scores.rfq_id;\n\nconst aiSummary = aiResponse.choices?.[0]?.message?.content || aiResponse.message?.content || aiResponse.text || aiResponse.content || JSON.stringify(aiResponse);\n\nreturn [{\n  json: {\n    rfq_id: rfqId,\n    ranked_quotations: JSON.stringify(scores.scored),\n    ai_summary: aiSummary,\n    recommended_vendor_id: scores.scored[0]?.vendor_id,\n    confidence_score: 92\n  }\n}];"
      },
      "id": "parse",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/ai_analysis",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"rfq_id\": \"{{ $('Webhook').first().json.body?.rfq_id || $('Webhook').first().json.rfq_id }}\",\n  \"ranked_quotations\": {{ $json.ranked_quotations }},\n  \"ai_summary\": {{ JSON.stringify($json.ai_summary) }},\n  \"recommended_vendor_id\": \"{{ $json.recommended_vendor_id }}\",\n  \"confidence_score\": {{ $json.confidence_score }}\n}"
      },
      "id": "save",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"AI analysis complete\" }"
      },
      "id": "respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Get Quotations", "type": "main", "index": 0 }]] },
    "Get Quotations": { "main": [[{ "node": "Calculate Scores", "type": "main", "index": 0 }]] },
    "Calculate Scores": { "main": [[{ "node": "OpenAI API", "type": "main", "index": 0 }]] },
    "OpenAI API": { "main": [[{ "node": "Parse Response", "type": "main", "index": 0 }]] },
    "Parse Response": { "main": [[{ "node": "Save to Supabase", "type": "main", "index": 0 }]] },
    "Save to Supabase": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "vendorbridge" }]
}
